body {
  margin: 0;
  font-family:"Open Sans";
}

/* Banner */

.banner {
  background-image: url(../images/EINAUDI-6.jpg);
  height: 540px;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin: 0;
  overflow: hidden;
}

.banner-text {
  text-align: center;
  height: inherit;
  color: white;
  font-size: 25px;
  margin-top: 180px;
}

h1 {
  display: inline-block;
}

/* Album Cover Style */

.albumandtracklist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.album-container {
  width: 1000px;
  height: 490px;
  position: relative;
  margin: auto;
  margin-top: 40px;
}

.album {
 width: 500px;
 height: 490px;
 position: absolute;
 margin: 0;
}

.album-img {
 width: 500px;
 height: 490px;
}

/* Tracklist Style */

.album-tracklist {
  width: 500px;
  height: 490px;
  position: relative;
  left: 500px;
  background-color: black;
}

.tracklistrow {
  width: 500px;
}

.tracklistrow:hover {
  background-color: grey;
}

.tracklistnumber {
  font-size: 12px;
  color: #ffffff;
  display:inline-block;
  text-align:center;
  font-weight:lighter;
  line-height: 100%;
  width: 24%;
}

.tracklisttitle {
  font-size: 12px;
  color: #ffffff;
  display:inline-block;
  text-align:left;
  font-weight:normal;
  line-height: 100%;
  width: 50%;
}

.tracklistduration {
  font-size: 12px;
  color: #ffffff;
  display:inline-block;
  text-align:center;
  font-weight:lighter;
  line-height: 100%;
  width: 24%;
}

/* Buttons Style */

a {
  color:white;
  text-decoration: none;
}

.button {
  background-color: #3B6063;
  margin: auto;
  margin-top:10px;
  padding:10px;
  width: 200px;
  position:center;
  text-align:center;
  font-weight: 600;
}

.button2 {
  background-color: grey;
  margin: auto;
  margin-top:10px;
  padding:10px;
  width: 200px;
  position:center;
  text-align:center;
  font-weight: 600;
}

.button3 {
  background-color: brown;
  margin: auto;
  margin-top:10px;
  padding:10px;
  width: 200px;
  position:center;
  text-align:center;
  font-weight: 600;
}

.button:hover {
   background-color: white;
   color: black;
}

.button2:hover {
   background-color: white;
   color: black;
}

.button3:hover {
   background-color: white;
   color: black;
}

/* Mobile */

@media screen and (max-width: 992px) {

  .album-container {
    width: 500px;
    height: 980px;
   }

   .album-tracklist {
     left: 0px;
     top: 490px;
   }
}

@media screen and (max-width: 600px) {
  .banner-text {
    margin-top: 180px;
  }

  .banner-text.responsive {
    margin-top: 10px;
  }

  .album-container {
    width: 500px;
    height: 980px;
   }

   .album-tracklist {
     left: 0px;
     top: 490px;
   }
}
