.container {
    overflow: hidden;
}

.filter-div {
  float: left;
  background-color: #ffffff;
  color: #ffffff;
  width: 20%;
  line-height: 100px;
  text-align: center;
  margin: 5%;
  display: none;
}

.filter-div:hover {
  color: #000000;
  text: "poppi";
  background-color: #000000;
    /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

/* Style the buttons */
.btn {
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    width: 5%;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    color: #f64c72;
}

/* Add a dark background to the active button */
.btn.active-b {
    width: 5%;;
}

.merch-img {
    width: 100%;
    height: auto;
    display: block;
}

.filter-section {
  padding-top: 20px;
  padding-left: 10px;
  width: 100%;
}

@media screen and (max-width: 600px) {
    .filter-div {
      width: 100%;
    }
    .btn {
      width: 100%;
    }
    .filter-section {
      width: 100%;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
}
